<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&amp;subset=latin-ext" rel="stylesheet">
        <link rel="short icon" type="image/x-icon" href="/static/favicon.ico?v=1"/>
        <link rel="stylesheet" href="/static/css/base.css">

        <title> Shout </title>

        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
